.logo {
    height: 50px;
}

.listadonavbar {
    color: #37b985;
}

.fondoIndex {
    background: url(resources/fondoIndex.png);

}

.fondoTeoria {
    background: url(resources/teoriaFondo.jpg);

}

.imagenPianoVector {
    height: 200px;

}

.especialCard {
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
}

.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
}